@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* shared styles */

* {
  font-family: "Work Sans", sans-serif;
}

body {
  margin: 0;
  padding-bottom: 165px;
}

img {
  width: 100%;
}

nav,
section,
footer {
  padding: 0 150px;
}

.btn-primary {
  background-color: #ff900e;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 15px;
  margin: 18px;
}

.text-light-gray {
  font-size: 12px;
  color: #727272;
}

.section-title {
  font-size: 33px;
  font-weight: bold;
}

/* header styles */

header {
  display: flex;
  flex-direction: column;
  background-color: #ff900e1a;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 13.5px;
}

/* banner styles */

.banner {
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;
}

.banner-content {
  max-width: 648px;
  margin: 0 auto;
}

.banner-title {
  font-size: 48px;
  margin-top: 0;
}

.banner-image {
  margin: 18px 0;
}

/* main styles */

/* teams styles */

.teams-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 63px;
  padding-bottom: 63px;
}

.teams-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  row-gap: 18px;
}

.teams-content {
  padding: 54px;
}

.teams-title {
  max-width: 350px;
}

.quick-list {
  font-size: 33px;
}

.text-features {
  color: #ff900e;
  font-weight: bold;
}

/* .features-text {
  max-width: 430px;
  font-size: 12px;
  color: #727272;
  padding: 18px 0;
} */

/* features styles */
.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
  margin-bottom: 100px;
}

.features .section-title {
  border-left: #ff900e solid 5px;
  padding-left: 10px;
}

.features h4 {
  font-size: 15px;
}

.features .card {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
}

.ten-year-badge {
  display: flex;
  flex-direction: column;
  background-color: #ff900e;
  color: white;
  align-items: center;
  padding: 30px;
  width: 257px;
  position: relative;
  bottom: 50px;
  left: -50px;
}

.ten-year-badge h2 {
  font-size: 45px;
  margin: 0;
}
.ten-year-badge p {
  font-size: 18px;
}

/* facts styles */

.facts {
}

.facts-card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.facts-card-container > .card {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid #ff900e;
  width: 180px;
  height: 180px;
  justify-content: center;
  align-items: center;
  margin: 20px;
  /* margin: auto; */
}

.facts-card-container > .card img {
  width: 45px;
  height: 45px;
}

/* sponsor styles */

.sponsor {
  /* display: flex; */
  justify-content: center;
  text-align: center;
}

.sponsor-img-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

.sponsor-img-container img {
  /* height: 37px; */
  width: 150px;
  padding: 20px;
}

/* copyright styles */

.copyright {
  display: flex;
  height: 75px;
  background-color: #fff4e7;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #424242;
  margin-top: 100px;
}

/* responsive media queries  */
/* mobile devices  */

@media screen and (max-width: 576px) {
  section,
  header,
  footer {
    padding: 0 20px;
  }

  nav ul {
    flex-direction: column;
    display: none;
  }

  .teams-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 63px;
  }

  .teams-img-container {
    grid-template-columns: 1fr;
  }

  .features {
    grid-template-columns: 1fr;
  }

  .sponsor-img-container {
    flex-direction: column;
  }
}

/* tablet and medium devices */

@media screen and (min-width: 576px) and (max-width: 960px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .teams-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 63px;
  }

  .features {
    grid-template-columns: 1fr;
  }

  .sponsor-img-container {
    flex-wrap: wrap;
  }
}
